<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
        stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <file>tests/DependencyResolverFactoryTest.php</file>
            <file>tests/BindResolverFactoryTest.php</file>
            <file>tests/BindResolverTest.php</file>
            <file>tests/DependencyFactoryTest.php</file>
            <file>tests/DependencyResolverTest.php</file>
            <file>tests/ContainerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
